/*bott*/


.on {
	color: #abd373;
}
.clearfix {
	zoom: 1;
}
.fl.clearfix {
	margin: 10px;
	float: left;
	zoom: 1;
}
.fl.clearfix li{
	cursor:pointer;
	float: left;
	font-size: 14px;
	padding: 0 20px;
	border-right: 1px solid #e0e0e0;
	list-style: none;
	display: list-item;
	text-align: -webkit-match-parent;
}
.you{
	background: #fff;
	padding: 23px;
	margin: 20px 0;
}

.you .my h2{
	font-size: 22px;
	font-weight: normal;
}
.you .my {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 0;
}
.you .my  span{
	font-size: 15px;
}
.you  .my a{
	font-size: 14px;
	font-weight: normal;
	color: #404040;
	margin: 8px 0 0 15px;
}
.you .dlist{
	margin: 40px 0 32px;
}
.you .dlist ul{
	margin: 10px;
}
 .you .dlist ul li{
	float: left;
	font-size: 16px;
	padding:0 20px ;
	border-right: 1px solid #e0e0e0;
}
 .you .dlist ul li:last-child{
	border-right: none;
}
 .you .dlist ul li a{
	display: inline-block;
	color: #8c8c8c;
}
 .you .dlist ul li:nth-child(1){
	padding:0 20px 0 0 ;
}
 .you .dlist ul li.on a{
	color: #abd373;
}
.you .dlist form input:nth-child(1){
	float: left;
	text-indent: 15px;
	width: 219px;
	line-height: 40px;
}
 .you .dlist form input:nth-child(2){
	float: right;
	width: 40px;
	height: 40px;
	border-left: 1px solid #e0e0e0;
	background: url(../img/ds.png) no-repeat center center;
}
 .you .dkuang{
	border: 1px solid #b0b0b0;
	position: relative;
	margin-bottom: 20px;
}
 .you .dkuang p.one{
	font-size: 16px;
	color: #8c8c8c;
	padding: 30px 0 20px 30px;
}
 .you .dkuang div.vewwl a.ckwl{
	font-size: 12px;
	display: inline-block;
	margin: 35px 0 0 10px;
}
 .you .dkuang div.vewwl a.ckwl:hover{
	color: #abd373;
}

 .you .dkuang .word{
	color: #757575;
	border-bottom: 1px solid #e0e0e0;
}
 .you .dkuang .word ul{
	margin: 0 0 30px 30px;
}
 .you .dkuang .word ul li{
	float: left;
	padding: 0 8px;
	border-right: 1px solid #e0e0e0;
}
 .you .dkuang .word ul li:first-child{
	padding:0 8px 0 0;
}
 .you .dkuang .word ul li:last-child{
	border-right: none;
}
 .you .dkuang .word p.fr{
	margin-right: 30px;
	float: right;
}
 .you .dkuang .word p.fr span{
	font-size: 18px;
	color: #abd373;
}
 .you .dkuang .shohou{
	padding: 30px;
}
 .you .dkuang .shohou a.fl{
	 float: left;
	width: 69px;
	margin-right: 30px;
}
 .you .dkuang .shohou a.fl img{
	 width: 69px;
	display: block;
	 margin: 0;
	 padding: 0;
}
.you .dkuang .shohou p.fl{
	float: left;
}
 .you .dkuang .shohou p.fl a{
	display: block;
	text-decoration: none;
	outline: none;
	color: #262626;
	blr: expression(this.onFocus=this.blur());
}
 .you .dkuang .shohou p.fl a:nth-child(1){
	color: #666;
	margin-bottom: 10px;
}
 .you .dkuang .shohou p.fl a:nth-child(1):hover{
	color: #abd373;
}
.you .dkuang .shohou p.fr{
	float: right;
}


 .you .dkuang .shohou p.fr a{
	display: block;
	width: 118px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #B0B0B0;
	color: #666;
	transition: all .5s;
}
 .you .dkuang .shohou p.fr a:hover{
	background: #757575;
	color: #fff;
	transform: translate(0.5);
}
 .you .dkuang .shohou p.fr a:nth-child(1){
	margin-bottom: 10px;
}

 .you .deng p.one{
	color: #abd373;
}
 .you .deng .shohou p.fr a:nth-child(1){
	background: #abd373;
	color: #fff;
	border: 1px solid #abd373;
}







 .you .fenye{
	margin: 45px auto 0; 
	width: 140px;
} 
 .you .fenye a{
	float: left;
}
 .you .fenye a:nth-child(1), .you .fenye a:nth-child(3){
	margin-top: 6px;
}
 .you .fenye a:nth-child(2){
	width: 48px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #757575;
	color: #fff;
	margin: 0 35px;
}


/*订单详情*/

.you .orderList .orderList1,.you .orderList .orderList2{
	border-bottom: 1px solid #E0E0E0;
	padding: 15px 0;
	cursor: pointer;
}
.you .orderList1:nth-child(1){
	border-top: 1px solid #E0E0E0;
}
.you .orderList1 ,.you .orderList2 {
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: normal;
}
.you .orderList1:nth-child(1) div p{
	font-size: 14px;
	margin-top:10px ;
}
.you .orderList1:nth-child(1) div p a{
	color: #757575;
}
.you .orderList1:nth-child(1) div a img{
	display: block;
	margin-right: 20px;
}
.you .orderList1:nth-child(1) div p a:nth-child(2){
	margin-left: 50px;
}
.you .orderList1 p{
	margin-bottom:10px;
	color: #757575;
	font-size: 14px;
}

.you .hei strong{
	font-weight: normal;
	display: inline-block;
	width: 75px;
	text-align: right;
}
.you .hei span{
	color: #abd373;
}




